# Ignore Node.js build artifacts and dependencies
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Ignore environment variables file
.env

# Ignore Docker artifacts
*.dockerfile
docker-compose.yml

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore logs and build artifacts
/log/
/build/

# Ignore temporary files
*.tmp
*.temp
*.bak

# Ignore macOS system files
.DS_Store

# Ignore sensitive user-specific configuration files
*.sublime-*
*.idea
*.suo
*.ntvs*
*.njsproj
*.sln
